html {
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  width: 100%
}

p {
    text-align: center;
    font-size: 13px;
}

.container {
    background: white;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 1rem;
    margin: 3em auto;
    min-height: 80vh;
    width: 50vw;
}

.form-content {
  width: 100%
}

.form {
  padding: 2rem;
  width: 65%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  font-size: 0.9em;
  border: none;
  font-weight: 100;
  width: 95%;
  display: block;
  padding: 0.8em;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background: #1CB5E0;
  transform: translateY(1%) translateX(5%);
  transition: background 0.5s cubic-bezier(.18,.89,.32,1.28) 0.5s;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  background: #000851;
  transition: background 0.5s cubic-bezier(.39,2.05,.35,-0.76) 0.5s;
}

input[type="submit"] {
  font-size: 0.9em;
  outline: none;
  cursor: pointer;
  width: 80%;
  margin: 2em auto;
  padding: 20px;
  display: block;
  letter-spacing: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.5;
}

input[type="submit"]:hover {
  opacity: 1.0;
  transition: opacity 2s cubic-bezier(.39,2.05,.35,-0.76) 0.5s;
}

label {
  margin: 0 auto;
}
